<% layout('../layout') -%>

<form class="form-account" method="POST" action="/forgot">
    <h2 class="form-signin-heading">Forgot password</h2>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
</form>