<% layout('../layout') -%>

<form class="form-account" method="POST" action="/signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    <a href="/forgot">Forgot password</a>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>