    <% if (messages.errors) { 
        %>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%
        messages.errors.forEach(function (item) {
    %>
            <p><%= item.msg %></p>
    <%
    });%>
        </div>
    <%}%>
    <% if (messages.success) { 
        %>
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%
        messages.success.forEach(function (item) {
    %>
            <p><%= item.msg %></p>
    <%
    });%>
        </div>
    <%}%>