    <!-- <footer class="footer">
        <div class="container">
            <p class="text-muted">Hello</p>
        </div>
    </footer> -->
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/sweet-alert.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <%- scripts %>