    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/sweet-alert.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="shortcut icon" href="/favicon.png">
    <%- stylesheets %>