<% layout('layout') -%>

<div class="jumbotron">
    <h1>Hello, world!</h1>
    <div class="btn-group" role="group">
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/signin" class="btn btn-primary btn-lg">Sign In</a>
    </div>
</div>