@import 'libs/compass/css3';
@import 'base/vars';


@import 'libs/bootstrap';

.form-account {
  max-width: 300px;
  margin: 0 auto;

  .form-control {
    margin-bottom: 10px;
  }

  a{
    margin-bottom: 10px;
    display: inline-block;
    
  }
}