// Bootstrap vars
/*navbar-height: 60px;
$navbar-default-color: #fff;
$navbar-default-bg: rgba(0,0,0,0.8);
$navbar-border-radius: none;
$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          #eee;
$navbar-default-link-hover-bg:             #ececec;
$navbar-default-link-active-color:         #555;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;*/